<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="SalesIgniter_Maintenance" setup_version="1.0.20171024">
    <sequence>
        <module name="SalesIgniter_Common"/>
        <module name="SalesIgniter_Rental"/>
    </sequence>
    </module>
</config>
